body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  max-height: max-content;
  height: 100vh;
  
}

.nav-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #3498db; 
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color: #ecf0f1;
  padding: 15px;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
}

.nav-link:hover {
  color: #2c3e50; /* Hover rengi */
  transform: translateY(-5px);
  background-color: #3498db;
}

.nav-link.active {
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
  background-color: #3498db;
}

.subreddits-container {
  display: flex;
  flex-flow: column wrap;
  height: 800px;
  background-color: #f0f0f0;
  padding: 20px;
  max-width: 25%;
  align-items: center;
  
}

.subreddits-container ul {
  max-height: 50%; 
  overflow-y: auto; 
  list-style-type: none; 
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.subreddits-container ul li {
  margin-bottom: 10px; 
  background-color: #ecf0f1;
  padding: 10px;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.subreddits-container ul li button {
  border: none;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  min-width: 99%;      
}
.subreddits-container ul li button:hover {
  background-color: #2c3e50; 
  color: #ecf0f1; 
  transform: scale(1.05); 
  cursor: pointer; 
}

.subreddit-icon {
  height: 75px;
  width: 100px;
  border-radius: 20%;
  margin-right: var(--spacing-1);
}
.subreddit-page{
  display: flex;
  flex-flow: row wrap;

  background-color: #f0f0f0;
  padding: 5px;
  max-width: 90%;
  max-height: 90%;
 

}
.subreddit{
  
    max-width: 100%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  
 .subreddit img{
    max-width: 75%;
    max-height: 75%;
 }
 
 .linkWithoutUnderline {
  text-decoration: none;
}

.hotposts {
  width: 70%;
  max-height: 750px;
  background-color: #3498db;
  border-radius: 10px;
  margin: 50px auto;
  overflow-y: auto;
  font-weight: bold;
  
}

.hotpost {
  max-width: 95%;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  justify-content: space-around;
  max-height: 20%;
  box-shadow: inset -6px -6px 14px 10px rgba(142, 193, 188, 0.45);
  margin: 1rem auto;
  border-radius: 5px;
}
.hotpost button {
  width:100%;
  background-color: transparent;
  border:none !important;
  cursor: pointer;
}
.hotpost button:hover {
  background-color:#ff4500; 
  border-radius: 10px;
  
}

.hotpost h3 {
   color:#2c3e50
}

.hotpost h4 {
  color: aqua;
}

.reddit-icon {
  color: aqua;
  width: 5px;
}

.hotpost-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
 
  height: 750px;
  align-self: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

.flex-items:nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  
  background-color: #3498db;
  box-shadow: inset -6px -6px 14px 10px rgba(142, 193, 188, 0.45);
  border-radius: 10px;
}

.flex-items:nth-child(1) .avatar{
  border-radius: 20%;
  max-width: 95%;
  margin-bottom: 10px;
  }

  .flex-items:nth-child(1) h2 p{
    max-width: 95%;
  }



.flex-items:nth-child(2) {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  padding: 1%;
  align-self: auto;
  order: 0;
  overflow-y: auto;
  max-width: 65%;
  height: 90%;
  padding: 1%;
  background-color: #3498db;
  box-shadow: inset -6px -6px 14px 10px rgba(142, 193, 188, 0.45);
  border-radius: 10px;
  font-weight: bold;
 

}
.flex-items:nth-child(2) .comment {
  max-width: 95%;
  text-align: center;
  justify-content: space-around;
  max-height: 20%;
  box-shadow: inset -6px -6px 14px 10px rgba(142, 193, 188, 0.45);
 
  border-radius: 5px;
  
}
.flex-items:nth-child(2) .comment p{
  color:#2c3e50;
 
}
.flex-items:nth-child(2) .comment span{
  color: aqua;
}
.selftext {
  display: flex;
  justify-content: center;
  height: 20%;
 
}
.selftext img {
  width:50%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
  margin-right:20px;
}
.selftext .no-image img{
  display:none !important;
  width:0%;
}
.selfanswer{
  flex:1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selfanswer span{
  color: aqua;
}
.about {
  border: #3498db solid 1px;
  border-radius:5px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;

}
.about a {
  text-decoration: none;
}
.about > * {
  font-weight: bold;
}








/* Add media queries for different screen sizes */
@media (max-width: 1024px) {
  .subreddits-container {
     max-width: 50%;
  }
  .selftext{
    display: column;
 }
}
 @media (max-width: 768px) {
  .subreddits-container {
     max-width: 75%;
  }
 }
 
 @media (max-width: 480px) {
  .subreddits-container {
     max-width: 100%;
  }
 }